.decor {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__top--separate {
    height: 1px;
    width: 720px;
    background: #f3eae5;
  }
  &__sub-desc {
    width: 222px;
    opacity: 0.85;
    font-style: italic;
    color: #462b20;
    font-family: "Instrument Serif", sans-serif;
  }

  &__container {
    margin-top: 88px;
    position: relative;
    min-height: 1000px;
  }

  &__img {
    position: absolute;

    &--first {
      top: 0;
      left: 0;
    }

    &--second {
      bottom: 0;
      left: 0;
    }

    &--third {
      right: 0;
      top: 0;
    }

    &--four {
      right: 0;
      bottom: 0;
    }
  }

  &__content {
    width: 636px;
    margin: auto;
  }

  &__separate {
    width: 160px;
    height: 1px;
    background: #f3eae5;
    margin: 56px auto;
  }

  &-para {
    &__heading {
      margin: auto;
      width: 370px;
      text-align: center;
      font-family: "Instrument Serif", sans-serif;
      font-size: 5.8rem;
      line-height: 105.172%;
      letter-spacing: -1px;
    }

    &__list-title {
      display: flex;
      justify-content: center;

      margin-top: 32px;
      gap: 14px;
    }

    &__separate {
      height: 30px;
      width: 1px;
      background: #f3eae5;
    }

    &__content {
      width: 622px;
    }

    &__title {
      font-family: "Instrument Serif", sans-serif;
      font-size: 2rem;
      line-height: 120%;
      opacity: 0.4;
    }

    &__active {
      opacity: 1;
    }

    &__list-content {
      margin-top: 20px;
      text-align: center;
      font-family: "Inter", sans-serif;
      font-size: 1.6rem;
      line-height: 156.25%;
      opacity: 0.85;
    }
  }
}
