.mask {
  background: url("../../assets/images/mask.png") no-repeat;
  background-position: center;
  background-size: cover;
  height: 852px;

  border-radius: 20px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 40px;
    height: 100%;
    border-radius: 20px;
  }

  &__cate {
    font-size: 1.5rem;
    line-height: 142%;
    font-weight: 500;
    opacity: 0.4;
  }

  &__bottom {
    color: #fff;
  }

  &__sub-title {
    font-size: 3.1rem;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.93px;
  }

  &__main-title {
    font-size: 15rem;
    font-weight: 500;
    letter-spacing: -10.5px;
  }
}
