<div class="section-02">
  <div class="row">
    <div class="col">
      <div class="collapse">
        <p class="collapse__cate">Construction</p>
        <h2 class="collapse__heading">The perfect accent chair for any room</h2>

        <div class="collapse__group">
          <!-- Item 1 -->
          <div class="collapse__item">
            <div class="collapse__top open">
              <p class="collapse__title">Cushion</p>
              <div class="collapse__nav">
                <!-- <img src="./assets/icon/icon-minus.svg" alt="" class="collapse__icon collapse__minus" />
                <img src="./assets/icon/icon-plus.svg" alt="" class="collapse__icon collapse__plus" /> -->
              </div>
            </div>
            <p class="collapse__content open">
              The Thayer's seat cushion features a core of high-resiliency foam wrapped with a layer of microfiber for a
              structured, supportive sit.
            </p>
          </div>
          <div class="collapse__separate"></div>
          <!-- Item 2 -->
          <div class="collapse__item">
            <div class="collapse__top">
              <p class="collapse__title">Upholstery</p>
              <div class="collapse__nav">
                <!-- <img src="./assets/icon/icon-minus.svg" alt="" class="collapse__icon collapse__minus" />
                <img src="./assets/icon/icon-plus.svg" alt="" class="collapse__icon collapse__plus" /> -->
              </div>
            </div>
            <p class="collapse__content">
              The Thayer's seat cushion features a core of high-resiliency foam wrapped with a layer of microfiber for a
              structured, supportive sit.
            </p>
          </div>
          <div class="collapse__separate"></div>
          <!-- Item 3 -->
          <div class="collapse__item">
            <div class="collapse__top">
              <p class="collapse__title">Frame</p>
              <div class="collapse__nav">
                <!-- <img src="./assets/icon/icon-minus.svg" alt="" class="collapse__icon collapse__minus" />
                <img src="./assets/icon/icon-plus.svg" alt="" class="collapse__icon collapse__plus" /> -->
              </div>
            </div>
            <p class="collapse__content">
              The Thayer's seat cushion features a core of high-resiliency foam wrapped with a layer of microfiber for a
              structured, supportive sit.
            </p>
          </div>
          <div class="collapse__separate"></div>
          <!-- Item 4 -->
          <div class="collapse__item">
            <div class="collapse__top">
              <p class="collapse__title">Finish</p>
              <div class="collapse__nav">
                <!-- <img src="./assets/icon/icon-minus.svg" alt="" class="collapse__icon collapse__minus" />
                <img src="./assets/icon/icon-plus.svg" alt="" class="collapse__icon collapse__plus" /> -->
              </div>
            </div>
            <p class="collapse__content">
              The Thayer's seat cushion features a core of high-resiliency foam wrapped with a layer of microfiber for a
              structured, supportive sit.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="section-02__main-image"></div>
    </div>
    <div class="col">
      <div class="section-02__sub-image"></div>
    </div>
  </div>
</div>
