<div class="section-03">
  <div class="section-03__container">
    <div class="decor__top">
      <div class="decor__top--separate"></div>
      <div class="decor__sub-desc">Here some highlight in package</div>
      <div class="decor__top--separate"></div>
    </div>
    <div class="decor__container">
      <img src="./assets/images/decor01.png" alt="decor01" class="decor__img decor__img--first" />
      <img src="./assets/images/decor02.png" alt="decor02" class="decor__img decor__img--second" />
      <div class="decor__content">
        <!-- Item 1 -->
        <div class="decor__item">
          <h2 class="decor-para__heading">Planing & Design</h2>

          <div class="decor-para__list-title">
            <h4 class="decor-para__title decor-para__active">Budget planning</h4>
            <div class="decor-para__separate"></div>
            <h4 class="decor-para__title">Bridal Salon Selection</h4>
            <div class="decor-para__separate"></div>
            <h4 class="decor-para__title">Bridesmaid Dres Selection</h4>
            <div class="decor-para__separate"></div>
            <h4 class="decor-para__title">Wedding Cake</h4>
          </div>

          <div class="decor-para__list-content">
            <p class="decor-para__content">
              The Design is the imagination, creativity and inspiration that makes your event unique. We work closely
              with you to sleuth out your style and then use that insight to develop every aesthetic component of your
              event from stationery and lighting to flowers and furniture.
            </p>
            <p class="decor-para__content d-none">
              The Design is the imagination, creativity and inspiration that makes your event unique. We work closely
              with you to sleuth out your style and then use that insight to develop every aesthetic component of your
              event from stationery and lighting to flowers and furniture.
            </p>
            <p class="decor-para__content d-none">
              The Design is the imagination, creativity and inspiration that makes your event unique. We work closely
              with you to sleuth out your style and then use that insight to develop every aesthetic component of your
              event from stationery and lighting to flowers and furniture.
            </p>
            <p class="decor-para__content d-none">
              The Design is the imagination, creativity and inspiration that makes your event unique. We work closely
              with you to sleuth out your style and then use that insight to develop every aesthetic component of your
              event from stationery and lighting to flowers and furniture.
            </p>
          </div>
        </div>
        <div class="decor__separate"></div>

        <!-- Item 2 -->
        <div class="decor__item">
          <h2 class="decor-para__heading">Floral & Decor</h2>

          <div class="decor-para__list-title">
            <h4 class="decor-para__title decor-para__active">Floral</h4>
            <div class="decor-para__separate"></div>
            <h4 class="decor-para__title">Decor selection</h4>
            <div class="decor-para__separate"></div>
            <h4 class="decor-para__title">Hair & makeup</h4>
            <div class="decor-para__separate"></div>
            <h4 class="decor-para__title">Lighting & Sound</h4>
          </div>

          <div class="decor-para__list-content">
            <p class="decor-para__content">
              From maintaining your budget and managing RSVPs to curating the ideal creative team and negotiating vendor
              contracts, we’re here to labor over logistics so you don’t have to. You’ll have a clear understanding of
              what’s coming next throughout the process—without ever being inundated with unnecessary information,
              options that aren’t a right fit, or tedious to-dos.
            </p>
            <p class="decor-para__content d-none">
              From maintaining your budget and managing RSVPs to curating the ideal creative team and negotiating vendor
              contracts, we’re here to labor over logistics so you don’t have to. You’ll have a clear understanding of
              what’s coming next throughout the process—without ever being inundated with unnecessary information,
              options that aren’t a right fit, or tedious to-dos.
            </p>
            <p class="decor-para__content d-none">
              From maintaining your budget and managing RSVPs to curating the ideal creative team and negotiating vendor
              contracts, we’re here to labor over logistics so you don’t have to. You’ll have a clear understanding of
              what’s coming next throughout the process—without ever being inundated with unnecessary information,
              options that aren’t a right fit, or tedious to-dos.
            </p>
            <p class="decor-para__content d-none">
              From maintaining your budget and managing RSVPs to curating the ideal creative team and negotiating vendor
              contracts, we’re here to labor over logistics so you don’t have to. You’ll have a clear understanding of
              what’s coming next throughout the process—without ever being inundated with unnecessary information,
              options that aren’t a right fit, or tedious to-dos.
            </p>
          </div>
        </div>
        <div class="decor__separate"></div>
        <!-- Item 3 -->
        <div class="decor__item">
          <h2 class="decor-para__heading">Paperie & Branding</h2>

          <div class="decor-para__list-title">
            <h4 class="decor-para__title decor-para__active">Invitations</h4>
            <div class="decor-para__separate"></div>
            <h4 class="decor-para__title">Venue selection & management</h4>
            <div class="decor-para__separate"></div>
            <h4 class="decor-para__title">Stationery</h4>
          </div>

          <div class="decor-para__list-content">
            <p class="decor-para__content">
              We’ll collaborate to develop an aesthetic that speaks to your soul and stems from your story. From
              creating design boards and sourcing artisanal items—to keeping vendors on the same page and perfecting
              every last touchpoint across your entire affair— we’re here to deliver a cohesive collection of meaningful
              moments that, together, create the wedding of your wildest dreams.
            </p>
            <p class="decor-para__content d-none">
              We’ll collaborate to develop an aesthetic that speaks to your soul and stems from your story. From
              creating design boards and sourcing artisanal items—to keeping vendors on the same page and perfecting
              every last touchpoint across your entire affair— we’re here to deliver a cohesive collection of meaningful
              moments that, together, create the wedding of your wildest dreams.
            </p>
            <p class="decor-para__content d-none">
              We’ll collaborate to develop an aesthetic that speaks to your soul and stems from your story. From
              creating design boards and sourcing artisanal items—to keeping vendors on the same page and perfecting
              every last touchpoint across your entire affair— we’re here to deliver a cohesive collection of meaningful
              moments that, together, create the wedding of your wildest dreams.
            </p>
          </div>
        </div>
      </div>
      <img src="./assets/images/decor03.png" alt="decor03" class="decor__img decor__img--third" />
      <img src="./assets/images/decor04.png" alt="decor04" class="decor__img decor__img--four" />
    </div>
  </div>
</div>
