<div class="section-01">
  <div class="section-01__container">
    <div class="row g-3 row-cols-2">
      <div class="col">
        <div class="mask">
          <div class="mask__content">
            <div class="mask__cate">SPECIAL FEATURE</div>
            <div class="mask__bottom">
              <p class="mask__sub-title">Super</p>
              <p class="mask__main-title">Smart</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="feature">
          <h3 class="feature__heading">We want to share creative inspiration & expression</h3>

          <div class="feature__group">
            <div class="row">
              <div class="col">
                <div class="feature__item">
                  <img src="./assets/icon/icon1.png" alt="icon" class="feature__icon" />
                  <p class="feature__title">Seatpost Suspension</p>
                </div>
              </div>
              <div class="feature__separate"></div>
              <div class="col">
                <div class="feature__item">
                  <img src="./assets/icon/icon2.png" alt="icon" class="feature__icon" />
                  <p class="feature__title">Automatic Assistance</p>
                </div>
              </div>
              <div class="feature__separate"></div>
              <div class="col">
                <div class="feature__item">
                  <img src="./assets/icon/icon3.png" alt="icon" class="feature__icon" />
                  <p class="feature__title">
                    All-new <br />
                    Battery
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="collection">
          <button class="collection__btn">Shop all</button>
        </div>
      </div>
    </div>
  </div>
</div>
